conf/apache/vhosts/*
!conf/apache/vhosts/default.conf
!conf/apache/vhosts/envdev_home.conf
conf/nginx/vhosts/*
!conf/nginx/vhosts/default.conf
!conf/nginx/vhosts/envdev_home.conf
projects/*
!projects/index.php
!projects/phpinfo.php
