{% include 'partials/header.twig' %}

<div class="container-fluid">
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">EnvDev (2.5)</a>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-4">
            {% include 'partials/home/servers.twig'  %}
            {% include 'partials/home/tools.twig'  %}
            {% include 'partials/home/vhosts.twig' %}
        </div>
        <div class="col-md-8">
            {% include 'partials/home/projects.twig' %}
        </div>
    </div>
</div>

{% include 'partials/footer.twig' %}