    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; <a href="https://vfac.fr" target="_blank">vfac.fr</a> 2017-{{ "now"|date("Y") }}</span>
        </div>
      </div>
    </footer>
  </body>
</html>
