    <div class="row">
        <div class="col-md-12">
            <h3>Projects</h3>

            {% for project in projects %}
            <a href="{{ project.url }}" target="_blank">
                <div class="webblock">
                    <div class="icon"><i class="glyphicon glyphicon-menu-right"></i></div>
                    <div class="text">{{ project.name }}</div>
                    {% if project.hostname is not null %}
                    <a href="//{{ project.hostname }}" target="_blank">
                        <div class="icon"><i class="glyphicon glyphicon-globe"></i></div>
                    </a>
                    {% endif %}
                </div>
            </a>
            {% endfor %}
        </div>
    </div>