    <div class="row">
        <div class="col-md-12">
            <h3>Tools</h3>

            {% for tool in tools %}
            <a href="{{ tool.url }}" target="_blank">
              <div class="webblock">
                <div class="icon"><i class="glyphicon {{ tool.icon }}"></i></div>
                <div class="text">{{ tool.name }}</div>
              </div>
            </a>
            {% endfor %}

        </div>
    </div>
